@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.country{
    width: 100%;
    padding-bottom: 58px;
}

.country-id{
font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 136%;
margin-left: 47px;
/* identical to box height, or 34px */
}

.percentage-bar{
    margin-left: 92px;
    height: 10px;
    width: 500px;
}

.percentage-numeral{


    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136%;
    margin-left: 270px;
    
}