@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
  background: url(./background.png);
  background-size: cover;
  margin: 0;
  padding: 0;
  

}

.title-image{
  position: absolute;
  width: 338px;
  height: 130px;
  left: 291px;
  top: 142px;
  background: url(./Title.png);
  background-size: cover;
}

.title-text{
  position: absolute;
width: 333px;
height: 168px;
left: 656px;
top: 120px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 62px;
line-height: 84px;
}

.Name-input, .Name-input:focus{
  position: absolute;
width: 691px;
height: 61px;
left: 294px;
top: 347px;
outline: none;
background: #FFFFFF;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.13);
border-radius: 92px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 136%;
}

.btn{
  
position: absolute;
width: 96px;
height: 34px;
left: 591px;
top: 465px;

font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 136%;
/* identical to box height, or 34px */


color: #FFFFFF;

position: absolute;
width: 156px;
height: 53px;
left: 562px;
top: 455px;

background: #006F47;
box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.13);
border-radius: 92px;
}


.error-container{
  position: absolute;
width: 508px;
height: 104px;
left: 399px;
top: 567px;

background: #FFDEDE;
border-radius: 18px;
}

.error-message{
  position: absolute;
width: 282px;
height: 34px;

margin: 35px 113px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 136%;
/* identical to box height, or 34px */


color: #FF0000;
}

.result-container{
  position: absolute;
  width: 690px;
  height: 295px;
  left: 284px;
  top: 318px;

  background: #FFFFFF;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.result-title{
width: 137px;
height: 52px;
left: 571px;
top: 327px;
margin-left: auto;
margin-right: auto;

font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 136%;
/* identical to box height, or 52px */


color: #000000;

}